.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fdfdfd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mdl-layout-title a {
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-decoration: none;
}

.mdl-layout-title a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mdl-navigation a {
  font-size: 16px;
}

.mdl-navigation a:hover {
  text-decoration: underline;
}

.mdl-layout__header {
  background-color: rgb(63, 181, 155) !important;
}

/* Victor share-page styles */
.main-box {
  display: flex;
  width: 75%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.main-box .product_card {
  width: 26%;
  margin: auto;
  margin: 15px;
}

.main-box .cardTitle {
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
}

.title {
  margin: 20 auto;
  color: black;
  /* font-weight: 400; */
  text-decoration: underline;
}

.claim {
  display: inline-block;
  color: black;
  background-color: red;
  font-weight: bold;
  font-size: 25px;
  width: 400px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0%;
  top: 0%;
  transform: translate(50%, 50%) rotate(45deg) translate(-07%, 150%);
  opacity: 1;
  text-align: center;
}

.form-style-7 {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-style-7 h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: x-large;
}
.form-style-7 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-style-7 li {
  display: block;
  padding: 9px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  border-radius: 3px;
}
.form-style-7 li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
.form-style-7 li > label {
  display: block;
  float: left;
  margin-top: -20px;
  background: #ffffff;
  height: 16px;
  padding: 2px 5px 2px 5px;
  color: #b9b9b9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type='text'],
.form-style-7 input[type='date'],
.form-style-7 input[type='datetime'],
.form-style-7 input[type='email'],
.form-style-7 input[type='number'],
.form-style-7 input[type='search'],
.form-style-7 input[type='time'],
.form-style-7 input[type='url'],
.form-style-7 input[type='password'],
.form-style-7 textarea,
.form-style-7 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-style-7 input[type='text']:focus,
.form-style-7 input[type='date']:focus,
.form-style-7 input[type='datetime']:focus,
.form-style-7 input[type='email']:focus,
.form-style-7 input[type='number']:focus,
.form-style-7 input[type='search']:focus,
.form-style-7 input[type='time']:focus,
.form-style-7 input[type='url']:focus,
.form-style-7 input[type='password']:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus {
}
.form-style-7 li > span {
  background: #f3f3f3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #c0c0c0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.form-style-7 textarea {
  resize: none;
}
.form-style-7 input[type='submit'],
.form-style-7 input[type='button'] {
  background: #2471ff;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994ff;
  border-radius: 3px;
  color: #d2e2ff;
}
.form-style-7 input[type='submit']:hover,
.form-style-7 input[type='button']:hover {
  background: #6b9fff;
  color: #fff;
}
