html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;

}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
.header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}
.header-links a{
    color: #ffffff;
}
.header-links a:hover{
    color: #ff8000;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: #777777;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    color: #808080
}


/* Home Screen */
.products {
    display: flex;
    justify-content: center;
    align-items: center;
}
.products li {
    flex: 0 1 34rem;
    padding: 0;
    margin: 1 rem;
    height: 50rem;
    border-bottom: .1rem #ff8000 solid;
}
.product-image{
    max-width: 5rem;
    max-height: 10rem;

}
.product{
    flex-direction: : column;
    justify-content: space-between;

}
.product-name{
    font-size: 2rem;
    font-weight: bold;
}
.product-brand{
    font-size: 1.2rem;
    color: #808080
}
.product-quantity{
    font-size: 2.5rem;
    font-weight: bold;
    color: #888888;
}

/* Sidebar */

.brand button{
    font-size: : 3rem;
    padding: .5rem;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: bisque;
    height: 100%;

}
.sidebar.open{
    transform: translateX(0);
}

.sidebar-close-button{
    border-radius: 50%;
    border: .1rem #777777 solid;
    width: 3rem;
    height: 3rem;
    padding: .5rem;

}